<template>
  <div id="app">
    <img src="./assets/logo.png">
    <h2> {{ msg }}</h2>

    <form v-on:submit.prevent="findId">
        <input type="text" :maxlength="max" name="findItems" id="findItems" placeholder="Id de votre Object" v-model="id">
        <button type="submit">Recherche</button>
    </form>
    <div class="box">

      <ul class="row">
        <li id="a0"></li>
        <li id="a1"></li>
        <li id="a2"></li>
        <li id="a3"></li>
        <li id="a4"></li>
        <li id="a5"></li>
      </ul>
      <ul class="row">
        <li id="b0"></li>
        <li id="b1"></li>
        <li id="b2"></li>
        <li id="b3"></li>
        <li id="b4"></li>
        <li id="b5"></li>
      </ul>
      <ul class="row">
        <li id="c0"></li>
        <li id="c1"></li>
        <li id="c2"></li>
        <li id="c3"></li>
        <li id="c4"></li>
        <li id="c5"></li>
      </ul>
      <ul class="row">
        <li id="d0"></li>
        <li id="d1"></li>
        <li id="d2"></li>
        <li id="d3"></li>
        <li id="d4"></li>
        <li id="d5"></li>
      </ul>

      <ul class="row">
        <li id="e0"></li>
        <li id="e1"></li>
        <li id="e2"></li>
        <li id="e3"></li>
        <li id="e4"></li>
        <li id="e5"></li>
      </ul>
    </div>
  </div>
</template>

<script>
import StockManager from "./stockoss";

export default {
  name: 'app',
  data () {
    return {
        max: 5,
        id: '',
        msg: 'Welcome to Your Vue.js App',
    }
  },
  methods: {
    findId: function find() {

      let list = document.getElementsByTagName('li');
      for ( let elem of list ) {
        elem.classList.remove('active');
      }

      let id = this.id;
      let emplacement = StockManager(id);
      id = '';

      for (let infos in emplacement ) {
          if (infos != '') {
            let idPos = document.getElementById(emplacement.position);
            idPos.classList.add('active');
          }
      }
      
    }
  }
}
</script>

<style lang="scss">
    #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    }

    h1, h2 {
    font-weight: normal;
    }

    ul {
      display:flex;
      width: 18%;
      list-style-type: none;
      flex-direction:column;
      align-items: center;
      padding: .5rem;
      border: 1px solid rgba($color: #000000, $alpha: .5);
    &+ul {
      margin-left: .5rem;
    }
    }

    li {
      width: 100%;
      height: 40px;
      border: 1px solid darkolivegreen;
      &+li {
        margin-top: 1rem;
      }
      &.active {
        background-color: pink ;
      }
    }

    a {
    color: #42b983;
    }

    .box{
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding: 1rem;
      width: 80%;
      margin: 2rem auto;
      border: 1px solid rgba($color: #000000, $alpha: .3);
    }
</style>
