<template>
    <div id="app">
        <form >
            <input type="text" name="findItems" id="findItems" placeholder="Id de votre Object" v-model="test"> {{ test }}
            <button type="submit">Recherche</button>
        </form>
    </div>
</template>

<script>
export default {
    name: 'find',
    data: {
        test: ''
    },
    props: [],
    methods: {

    }
}


</script>